<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'charts/configure.css' %}">
    <title>Добавление данных для графика</title>
</head>
<body>
<form action="{% url 'charts:setup' diagram.id %}" method="post">
{% csrf_token %}
    {% if error_message %}
    <h1>{{ error_message }}</h1>
    {% elif diagram.ready == False %}
    <h1>Этот вид графиков еще не доступен</h1>
    <a href="{% url 'charts:charts' %}">Вернуться в меню</a>
    {% else %}
    <h1>Добавьте данные для {{ diagram.diagram_name }}</h1>
    <h3>Пропишите данные для графика в формате
        <br />КЛЮЧ=ЗНАЧЕНИЕ
        <br />КЛЮЧ=ЗНАЧЕНИЕ</h3>
    <textarea type="text" name="values" rows="15" cols="50" required></textarea>
    <br>

    <input type="submit" value="Сохранить">
    {% endif %}
</form>
</body>
</html>