<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'charts/index.css' %}">
    <title>Title</title>
</head>
<body>
<h1>Выберите один из инструментов управления качеством</h1>
{% if diagrams %}
    <ul>
    {% for diagram in diagrams %}
        <li>
            <a href="{% url 'charts:configure' diagram.id%}">{{ diagram.diagram_name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
{% endif %}
</body>
</html>