<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Data</title>
</head>
<body>
<form action="{% url 'polls:diagram_set' diagram.id %}" method="post">
{% csrf_token %}
    <legend><h1>Добавьте данные для {{ diagram.diagram_name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    <h3>Пропишите данные для таблицы в формате КЛЮЧ=ЗНАЧЕНИЕ,КЛЮЧ=ЗНАЧЕНИЕ</h3>
    <label>
        <input type="text" name="values" required>
    </label>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>