body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #8ECAE6;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    width: 40%;
    height: 70%;
    list-style: none;
}

textarea {
    background-color: transparent;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 15px;
}

input[type="submit"], a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #219EBC;
    color: #fff;
    border: none;
    border-radius: 15px;
    text-decoration: none;
}

input[type="submit"]:hover, a:hover {
    cursor: pointer;
}